%h3
  Select a Team and Season

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Team
      %th Rosters
    %tbody
      - @teams.each do |team|
        %tr
          %td= team.abbr
          %td
            =link_to "2008-2009", roster_path(id: team.id, season: "2008-2009")

            =link_to "2007-2008", roster_path(id: team.id, season: "2007-2008")
            =link_to "2006-2007", roster_path(id: team.id, season: "2006-2007")
