!!!
%html{:xhmns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title ShotVisualizer - Shot Location Analytics for the NBA

    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = include_gon


  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-toggle" => 'collapse', "data-target" => '.nav-collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => '#'} ShotVisualizer
          .nav-collapse
            %ul.nav
              %li.active
                %a{:href => '#'} Home
              %li
                %a{:href => '#about'} About
              %li
                %a{:href => '#contact'} Contact

    .container
      = yield

      .row-fluid.footer
        .span4
          %h3 Information
          %ul
            %li
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link

